<% for (let i = 0; i < errors.length; i++) { %>
    <p class="button error"> <%= errors[i].param %>: <%= errors[i].msg %> "<%= errors[i].value %>" </p>
<% } %>
<form action="/account/" method="post">
    <input type="hidden" name="_csrf" csurf=<%=csrfToken%> value="<%=csrfToken%>" />
    <label for="_id">Id: </label>
    <input id="_id" type="text" name="_id" value="<%=user._id%>" disabled>
    <label for="Username">Username: </label>
    <input id="Username" type="text" name="Username" value="<%=user.Username%>" disabled>
    <label for="DisplayName">DisplayName: </label>
    <input id="DisplayName" type="text" name="DisplayName" value="<%=user.DisplayName%>" disabled>
    <label for="StudentId">StudentId: </label>
    <input id="StudentId" type="text" name="StudentId" value="<%=user.StudentId%>">
    <label for="CodeForces">CodeForces: </label>
    <input id="CodeForces" type="text" name="CodeForces" value="<%=user.CodeForces%>">
    <label for="CodeChef">CodeChef: </label>
    <input id="CodeChef" type="text" name="CodeChef" value="<%=user.CodeChef%>">
    <input type="submit" value="OK">
</form>